<head>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <h1>post your text</h1>  
  <form method="POST" action="/new">
    <input type="text" id="user" name="user" />
    <input type="text" id="text" name="text" />
    <button type="submit">submit</button>
  </form>
</body>
