<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><% title %></h1>
    <div id="container">
      <ul>
        <% messages.forEach(function(message) { %>
        <li>
          <div id="box">
            <div class="output"><%= message.user %>:</div>
             <div class="output"><%= message.text %></div>
             <div id="dateContainer">
             <div id="date"><%= message.added %></div>
            </div>
          </div>
        </li>
        <% }) %>
        
      </ul>
    </div>
    <a href="/new">add a message</a>
  </body>
</html>
